In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

In [3]:
#2017
Q1_2017 = pd.read_csv('../CapstoneDrafts/data/2017Q1-capitalbikeshare-tripdata.csv', 
                        parse_dates=True, index_col=1, header=0,
                        names=['duration','enddate','startlocID','startloc','endlocID','endloc','bikeID','memtype'])
Q2_2017 = pd.read_csv('../CapstoneDrafts/data/2017Q2-capitalbikeshare-tripdata.csv', 
                        parse_dates=True, index_col=1, header=0,
                        names=['duration','enddate','startlocID','startloc','endlocID','endloc','bikeID','memtype'])
Q3_2017 = pd.read_csv('../CapstoneDrafts/data/2017Q3-capitalbikeshare-tripdata.csv', 
                        parse_dates=True, index_col=1, header=0,
                        names=['duration','enddate','startlocID','startloc','endlocID','endloc','bikeID','memtype'])
Q4_2017 = pd.read_csv('../CapstoneDrafts/data/2017Q4-capitalbikeshare-tripdata.csv', 
                        parse_dates=True, index_col=1, header=0,
                        names=['duration','enddate','startlocID','startloc','endlocID','endloc','bikeID','memtype'])

In [4]:
#merge 2017
bike2017 = Q1_2017.append([Q2_2017,Q3_2017,Q4_2017])
bike2017['startdate'] = bike2017.index
print('Number of rows in the dataset for 2015:',len(bike2017))
bike2017.head()

Number of rows in the dataset for 2015: 3757777

,duration,enddate,startlocID,startloc,endlocID,endloc,bikeID,memtype,startdate
2017-01-01 00:00:41,221,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member,2017-01-01 00:00:41
2017-01-01 00:06:53,1676,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual,2017-01-01 00:06:53
2017-01-01 00:07:10,1356,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual,2017-01-01 00:07:10
2017-01-01 00:07:22,1327,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual,2017-01-01 00:07:22
2017-01-01 00:07:36,1636,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual,2017-01-01 00:07:36

In [5]:
#add time tracking column (days from 2016-01-01), break dates into month and day
from datetime import datetime as dt
starttime = dt.strptime('2017-01-01', '%Y-%m-%d')
bike2017['timeDelt'] = bike2017['startdate'].apply(lambda d: (d - starttime).days)
bike2017.tail()

,duration,enddate,startlocID,startloc,endlocID,endloc,bikeID,memtype,startdate,timeDelt
2017-12-31 23:43:17,277,2017-12-31 23:47:54,31109,7th & T St NW,31118,3rd & Elm St NW,W21036,Member,2017-12-31 23:43:17,364
2017-12-31 23:51:55,399,2017-12-31 23:58:35,31125,15th & W St NW,31110,20th St & Florida Ave NW,W23147,Casual,2017-12-31 23:51:55,364
2017-12-31 23:55:19,393,2018-01-01 00:01:52,31209,1st & N St SE,31609,Maine Ave & 7th St SW,W20144,Member,2017-12-31 23:55:19,364
2017-12-31 23:57:42,1319,2018-01-01 00:19:42,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W20860,Member,2017-12-31 23:57:42,364
2017-12-31 23:58:21,266,2018-01-01 00:02:48,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,W01459,Member,2017-12-31 23:58:21,364

In [7]:
bike2017['Year'] = bike2017['startdate'].apply(lambda t: t.year)
bike2017['Month'] = bike2017['startdate'].apply(lambda t: t.month)
bike2017['Day'] = bike2017['startdate'].apply(lambda t: t.day)

In [8]:
bike2017['startweekday'] = bike2017['startdate'].apply(lambda d: d.weekday())

In [9]:
weather = pd.read_csv('../CapstoneDrafts/data/dc_weather_17.csv', parse_dates=True, index_col=1, header=0,
                        names=['station','startdate','precip','tmax','tmin'])
weather.head()

                station  precip  tmax  tmin
startdate
2017-01-01  USC00186350    0.00  47.0  31.0
2017-01-02  USC00186350    0.03  55.0  38.0
2017-01-03  USC00186350    0.30  46.0  42.0
2017-01-04  USC00186350    0.69  50.0  44.0
2017-01-05  USC00186350    0.00  55.0  29.0

In [10]:
weather['tmax_sq'] = weather['tmax'].apply(lambda t: t**2)
weather['tmin_sq'] = weather['tmin'].apply(lambda t: t**2)

In [11]:
weather['startdate2'] = weather.index
weather['startdate2'] = weather['startdate2'].apply(lambda s: s.date())

In [12]:
grouped = bike2017.groupby(['Year','timeDelt'])['Year','Month','Day','startdate','timeDelt','startweekday'].max()
grouped['totalRents'] = bike2017.groupby(['Year','timeDelt'])['timeDelt'].size()
grouped['timeDelt_sq'] = grouped['timeDelt'].apply(lambda s: s**2)

In [13]:
grouped['startdate'] = grouped['startdate'].apply(lambda s: s.date())

In [15]:
# add holiday indicator
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = cal.holidays('2017')

In [16]:
series=pd.DataFrame(pd.Series(1, index=holidays, name='holiday'))
series['date']=series.index

In [17]:
grouped = pd.merge(grouped, series, left_on='startdate', right_on='date',how='left')
grouped['holiday'].fillna(0, inplace=True)

In [20]:
totals2017 = pd.merge(grouped, weather, how='left', left_on='startdate', right_on='startdate2')
totals2017=totals2017.fillna(method='ffill')

In [21]:
# convert days of the week (startweekday) to dummy variable columns
weekday_dummies = pd.get_dummies(totals2017['startweekday'], prefix='day')
totals2017 = pd.merge(totals2017, weekday_dummies, how='outer', left_index=True, right_index=True)

In [22]:
totals2017.to_csv('../CapstoneDrafts/data/2017totals.csv')